# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build artifacts
dist/

# SEA Build Artifacts
sea-prep.blob
overpass2geojson
overpass2geojson.exe

# Output
results/

# OS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.yarn
